<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title> :add_title: </title>
    </head>

    <body>
        <div class="container">
            <h1>Register</h1>
            <form action="/reg" method="post">
                <label for="first_name">First Name</label>
                <input type="text" name= "first_name">

                <label for="last_name">Last Name</label>
                <input type="text" name="last_name">

                <label for="email">Email</label>
                <input type="email" name="email">

                <label for="password">Password</label>
                <input type="password" name="password">

                <label for="password_confirm">Confirm Password</label>
                <input type="password" name="password_confirm">

                <label for="birthday">Birthday</label>
                <input type="month" name="birthday">

                <input type="submit" name="Submit">
            </form>
            <hr>
            <h1>Login</h1>
            <form action="/login" method="post">
                <label for="email">Email</label>
                <input type="email" name="email">

                <label for="password">Password</label>
                <input type="password" name="password">
            </form>
        </div>
    </body>

</html>