<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log in</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <% if (typeof(error) != 'undefined') { %>
      <p class="rederror"><%= error %></p>
    <% } %>
    <form class="" action="/login" method="post">
      Email: <input type="email" name="email" value=""><br>
      Password: <input type="password" name="password" value=""><br>
      <input type="submit" value="Register">
    </form>
    <br>
    <a href="/">Not registered yet? Register here.</a>
  </body>
</html>
