<!DOCTYPE html>
<html lang="en">

    <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <title> :add_title: </title>
    </head>

    <body>
        <div class="container">
            <h2>Add A Car</h2>
            <form action="" method="">
                <label for="make">Make:</label><br>
                <input type="text" name="make"><br><br>

                <label for="model">Model:</label><br>
                <input type="text" name="model"><br><br>

                <label for="year">Year:</label><br>
                <input type="text" name="year"><br><br>

                <input type="submit" name="submit">
            </form>
        </div>
    </body>

</html>