<!DOCTYPE html>
<html lang="en">

    <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <title> :add_title: </title>
    </head>

    <body>
        <div class="container">
            <h2>Badass Cars</h2>
            <img src="/images/car1.jpg" alt="cool car">
            <img src="/images/car2.jpg" alt="cool car">
            <img src="/images/car3.jpg" alt="cool car">
            <img src="/images/car4.jpg" alt="cool car">
        </div>
    </body>

</html>