<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/style/style.css">
        <title>Document</title>
    </head>

    <body>
        <fieldset>
        <legend><h3>Page Views</h3></legend>
        <h3>Counter</h3>
        <p><%= pageviews %></p>

        <form action="/add2" method="post">
            <button name="add2">2 Count</button>
        </form>

        <form action='/reset' method='post'>
            <button name="reset">Reset</button>
        </form>
        </fieldset>
    </body>

</html>