<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/style/style.css">
        
        <title>Quotes</title>
    </head>

    <body>
        <div id="view">
        <fieldset>
        <legend><h1>Quotes</h1></legend>
        <a href="/">Add A Quote</a>
        

        <% for (var quote in quotes) { %>

           
            <p>" <%= quotes[quote].quote %> "</p> 
            <h3>-<%= quotes[quote].name %></h3>
            <hr>
            
        <% } %>
        </fieldset>
        </div>
    </body>

</html>